<h2>
    <i class="fa fa-history"></i> Changelog</h2>

<div class="timeline-centered" style="overflow-y: auto;height: 300px;">
    {% for version, data in changelog %}
        <article>
            <header>
                <em>v{{ version }} - <time datetime="{{ data['meta']['date'] }}">{{ data['meta']['date'] }}</time></em>
            </header>

            <ul class="fa-ul">
                {% for change in data['changes'] %}
                    <li style="line-height: 2em;">
                        {% if change starts with "NEW" %}
                            <i class="fa fa-plus"></i>
                            {{ label_success('NEW')}} {{ change[3:] }}
                        {% endif %}

                        {% if change starts with "FIX" %}
                            <i class="fa fa-bug"></i>
                            {{ label_warning('FIX')}} {{ change[3:] }}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </article>
    {% endfor %}
</div>
