{% extends 'CertificationyCertyBundle:Certification:layout.html.twig' %}

{% block certy_content %}
    <div class="col-lg-3 hidden-xs hidden-sm hidden-md">
        {% embed 'CertificationyCertyBundle:Certification/Embed:CategoryList.html.twig' %}
            {% block list_attr %}class="list-group"{% endblock %}
            {% block li_attr %}class="list-group-item"{% endblock %}
            {% block category_line %}
                {{ badge(category.questions.count) }}
                {{ parent() }}
            {% endblock category_line %}
        {% endembed %}
    </div>

    <div class="col-md-9">
        <div class="text-center">
            <div>
                {% if certification.context.icons is not null %}
                    <i class="devicons {{ certification.context.icons }}" style="font-size: 20em;"></i>
                {% endif %}
            </div>
        </div>

        <ul id="certification_tab" class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#overview" role="tab" data-toggle="tab">{{ 'overview'|trans({}, 'guidelines') }}</a></li>
            <li class=""><a href="#contribute" role="tab" data-toggle="tab">{{ 'contribute'|trans({}, 'guidelines') }}</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade active in" id="overview">
                {{ include('@CertificationyCerty/Certification/Guidelines/overview.html.twig') }}
            </div>

            <div class="tab-pane fade" id="contribute">
                {{ include('@CertificationyCerty/Certification/Guidelines/contribute.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
