{% extends 'CertificationyCertyBundle:Certification:layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function(){
            $('div#details .collapse').collapse();
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style type="text/css">
        .panel-heading a:after {
            font-family: 'Glyphicons Halflings';
            content: "\e114";
            float: right;
            color: grey;
        }

        .panel-heading a.collapsed:after {
            content: "\e080";
        }

        ul#answers{
            list-style-type: none;
        }

        .table span.glyphicon { margin-right:10px; }
        div#menu .panel-body { padding:0px; }
        div#menu .panel-body table tr td { padding-left: 15px }
        div#menu .panel-body .table {margin-bottom: 0px; }

        .blockquote-box{border-right:5px solid #E6E6E6;margin-bottom:25px}
        .blockquote-box .square{width:100px;min-height:50px;margin-right:22px;text-align:center!important;background-color:#E6E6E6;padding:20px 0}
        .blockquote-box.blockquote-primary{border-color:#357EBD}
        .blockquote-box.blockquote-primary .square{background-color:#428BCA;color:#FFF}
        .blockquote-box.blockquote-success{border-color:#4CAE4C}
        .blockquote-box.blockquote-success .square{background-color:#5CB85C;color:#FFF}
        .blockquote-box.blockquote-info{border-color:#46B8DA}
        .blockquote-box.blockquote-info .square{background-color:#5BC0DE;color:#FFF}
        .blockquote-box.blockquote-warning{border-color:#EEA236}
        .blockquote-box.blockquote-warning .square{background-color:#F0AD4E;color:#FFF}
        .blockquote-box.blockquote-danger{border-color:#D43F3A}
        .blockquote-box.blockquote-danger .square{background-color:#D9534F;color:#FFF}
    </style>
{% endblock %}

{% block certy_content %}
    {% block certy_report %}

        <div class="col-sm-3 col-md-3">
            <div class="panel-group" id="menu">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            Report summary
                        </h4>
                    </div>
                    <div class="panel-collapse">
                        <div class="panel-body">
                            <table class="table" role="tablist">
                                <tr>
                                    <td>
                                        <i class="fa fa-tasks"></i>
                                        <a href="#overview" role="tab" data-toggle="tab">
                                             Overview
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa fa-th-list"></i>
                                        <a href="#details" role="tab" data-toggle="tab">
                                             Details
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-9 col-md-9">
            <div class="text-center">
                <img src="{{ asset('images/logo_symfony.png')}}">
                <h2>{{ certification.context.label|capitalize }} certification report</h2>
            </div>

            <div id="tabContent" class="tab-content">
                <div id="overview" class="tab-pane active fade in">
                    {{ include('@CertificationyCerty/Certification/Report/overview.html.twig') }}
                </div>

                <div id="details" class="tab-pane fade">
                    {{ include('@CertificationyCerty/Certification/Report/details.html.twig') }}
                </div>
            </div>
        </div>

    {% endblock %}
{% endblock %}
