{% extends 'CertificationyCertyBundle:Certification:layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function(){
            $('div#details .collapse').collapse();
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/report.css') }}" rel="stylesheet" media="screen">
{% endblock %}

{% block certy_content %}
    {% block certy_report %}

        <div class="col-sm-3 col-md-3">
            <div class="panel-group" id="menu">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            {{ 'menu.title'|trans({}, 'report') }}
                        </h4>
                    </div>
                    <div class="panel-collapse">
                        <div class="panel-body">
                            <table class="table" role="tablist">
                                <tr>
                                    <td>
                                        <i class="fa fa-tasks"></i>
                                        <a href="#overview" role="tab" data-toggle="tab">
                                            {{ 'menu.overview'|trans({}, 'report') }}
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa fa-th-list"></i>
                                        <a href="#details" role="tab" data-toggle="tab">
                                            {{ 'menu.details'|trans({}, 'report') }}
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-9 col-md-9">
            <div class="text-center">
                {% if certification.context.icons is not null %}
                    <i class="devicons {{ certification.context.icons }}" style="font-size: 20em;"></i>
                {% endif %}
                <h2> {{ 'headline'|trans({'%certification%' : certification.context.label|capitalize}, 'report') }}</h2>
            </div>

            <div id="tabContent" class="tab-content">
                <div id="overview" class="tab-pane active fade in">
                    {{ include('@CertificationyCerty/Certification/Report/overview.html.twig') }}
                </div>

                <div id="details" class="tab-pane fade">
                    {{ include('@CertificationyCerty/Certification/Report/details.html.twig') }}
                </div>
            </div>
        </div>

    {% endblock %}
{% endblock %}
