<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <title>{% block title %}Certificationy{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block stylesheets %}
            <!-- Bootstrap -->
            <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">

            <!-- Font Awesome -->
            <link href="{{ asset('css/font-awesome.css') }}" rel="stylesheet" media="screen">

            <!-- Bootstrap Theme -->
            <link href="{{ asset('css/bootstrap-theme.css') }}" rel="stylesheet" media="screen">
        {% endblock stylesheets %}

        <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
    </head>

    <body>
        {% block menu %}
            {{ render(controller('certificationy.web.site_controller:menuAction')) }}
        {% endblock menu %}

        {% if app.session.flashbag.all is not empty %}
            {% block flashbag %}
                <div class="container">
                    {{ include('@BraincraftedBootstrap/flash.html.twig', { close: true } ) }}
                </div>
            {% endblock %}
        {% endif %}

        {% block wrapper %}
            <div id="wrap">
                {% block container %}
                    <div class="container" id="content">
                        {% block content %}{% endblock %}
                    </div>
                {% endblock container %}

                <div id="push"></div>
            </div>
        {% endblock wrapper %}

        {% block back_top %}
            <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left">
                <span class="glyphicon glyphicon-chevron-up"></span>
            </a>
        {% endblock %}

        {% block footer %}
            <div id="footer">
                <div class="container">
                    {{ render_esi(controller('certificationy.web.site_controller:footerAction', {}, {'standalone': true}))}}
                </div>
            </div>
        {% endblock %}

        {% block javascripts %}
            <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
            <script src="{{ asset('js/jquery.js') }}"></script>

            <!-- Include all JavaScripts, compiled by Assetic -->
            <script src="{{ asset('js/bootstrap.js') }}"></script>

            {% javascripts filter='yui_js, closure'
                '@CertificationyWebBundle/Resources/public/js/scroll.js'
            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}

            <script type="text/javascript">
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                ga('create', '{{ ga_tracking }}', 'auto');
                ga('send', 'pageview');
            </script>
        {% endblock javascripts %}
    </body>
</html>
