<div class="col-md-9 col-lg-9 ">
    <dl>
        <dt>{{ 'profile.username'|trans({}, 'profile')}}</dt>
        <dd>{{ user.username }}</dd>

        {% if app.user == user %}
            <dt>{{ 'profile.email'|trans({}, 'profile')}}</dt>
            <dd>{{ user.email }}</dd>

            <dt>{{ 'profile.real_name'|trans({}, 'profile')}}</dt>
            <dd>{{ user.realName }}</dd>
        {% endif %}
    </dl>
</div>
