<h2>Certification report</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>{{ 'profile.report.hash'|trans({}, 'profile') }}</th>
            <th>{{ 'profile.report.date'|trans({}, 'profile') }}</th>
            <th>{{ 'profile.report.certification'|trans({}, 'profile') }}</th>
            <th>{{ 'profile.report.language'|trans({}, 'profile') }}</th>
            <th>{{ 'profile.report.level'|trans({}, 'profile') }}</th>
            <th>{{ 'profile.report.score'|trans({}, 'profile') }}</th>
            <th>{{ 'profile.report.timing'|trans({}, 'profile') }}</th>
        </tr>
    </thead>
    <tbody>
        {% for report in pagination %}
            <tr class="{{ report.score >= report.maxScore ? 'success' : 'danger' }}">
                <td> {{ report.id }} </td>
                <td> {{ report.createdAt|date }} </td>
                <td>
                    <a href="{{ path('certification_guidelines', { 'name': report.name }) }}">
                        {{ report.label|capitalize }}
                    </a>
                </td>
                <td> {{ report.language }} </td>
                <td> {{ report.level }} </td>
                <td> {{ report.score }} / {{ report.maxScore }}</td>
                <td> {{ report.elapsedTime|elapsed }}</td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td class="text-center" colspan="6">
                {{ knp_pagination_render(pagination) }}
            </td>
        </tr>
    </tfoot>
</table>
