<div class="showcase">
    <div class="container text-center">
        <ul id="products" class="nav nav-tabs nav-justified" role="tablist">
            <li class="active"><a href="#cli">{{ 'cli'|trans({}, 'homepage') }}</a></li>
            <li><a href="#webplatform">{{ 'web_platform'|trans({}, 'homepage') }}</a></li>
            <li><a href="#mobile">{{ 'mobile'|trans({}, 'homepage') }}</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="cli">
                {{ include('@CertificationyWeb/Site/section/products/cli.html.twig') }}
            </div>

            <div class="tab-pane" id="webplatform">
                {{ include('@CertificationyWeb/Site/section/products/web_platform.html.twig') }}
            </div>

            <div class="tab-pane" id="mobile">
                {{ include('@CertificationyWeb/Site/section/products/mobile.html.twig') }}
            </div>
        </div>
    </div>
</div>
